.splash {
  width: 80%;
  height: 80%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
}

.splash h1  {
  font-size: 5em;
  font-weight: bold;
  color: DarkViolet;
  text-shadow: 0 0 10px Lime;
  border: 3px solid DarkViolet;
  padding: .5em 1em;
  border-radius: 5px;
  line-height: 1em;
  text-align: center;
}

.splash-subhead {
  color: DarkBlue;
  font-weight: bolder;
  letter-spacing: 0.05em;
}

a.pure-button-splash {
  font-weight: bold;
  font-size: 120%;
}

.fixed-wraper {
  height: 80%;
}

.content-wrapper {
  top: 80%;
}

@media (max-width: 48em) {
  .fixed-wraper {
    height: 80%;
  }
  .splash {
    height: 80%;
  }
  .content-wrapper {
    top: 80%;
  }

  .splash h1  {
    font-size: 3em;
  }
}
